@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('./assets/cover/dancin.jpg') no-repeat center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
}

h1{
    color: white;
    font-family: roboto;
    font-size: 100px;
    top: 12%;
    right: 0;
    left: 37%;
    bottom: 25%;
    position: absolute;
}

h6{
    color: brown;
    font-family: roboto;
    position: absolute;
    left: 37%;
    top: 21%;
    font-size: 43px;
}

.player{
    max-width: 700px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 25%;
}

.track {
    width: 200px;
    height: 200px;
}

.t1{
    background: url('./assets/cover/dancin.jpg') no-repeat center;;
    background-size: cover;
}

.t2{
    background: url('./assets/cover/rob\ zombie.jpeg') no-repeat center;
    background-size: cover;
}

.t3{
    background: url('./assets/cover/tothemoon.jpg') no-repeat center;
    background-size: cover;
}

.t1:hover,
.t2:hover,
.t3:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
    border-radius: 10%;
}

.t1, .t2, .t3{
    transition: 1s;
    border-radius: 5%;
    box-shadow: 2px 3px 29px 2px rgba(255, 255, 255, 0.72);
}

.controlPanel, .volume{
    max-width: 210px;
    width: 100%;
    height: 50px;
    background: white;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    position: absolute;
    margin: auto;
    top: 25px;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px
}

.controlPanel img, .loud, .mute, .low{
    width: 40px;
    height: 40px;
}

.play img{
    scale: 1.1;
}

.volume{
    top: 140px;
    align-items: center;
}

.mute, .low{
    display: none;
}


.none {
    display: none;
}

.block {
    display: block;
}